body {
    background-color: #1C2127;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #A7B1BC;
}

.nav__logo {
	padding-right: 60px;
    border-right: 1px solid #A7B1BC;
}

.nav__logo img {
    height: 40px;
}

.nav__left {
	display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 40px;
}

.nav__list .nav__list__active {
	color: #fff;
}

.nav__list li {
    margin: 0 30px;
}

.nav__list li a {
	color: #A7B1BC;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 14px;
	line-height: 16px;
}

.nav__right {
    display: flex;
    align-items: center;
}

.nav__user {
    display: flex;
    align-items: center;
    background: #12171D;
    padding: 10px 0px 10px 20px;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
}

.nav__user img {
    height: 30px;
    margin-right: 10px;
}

.nav__user p {
	color: #A7B1BC;
	text-transform: capitalize;
	margin: 0;
	line-height: 1;
	line-height: 24px;
	font-size: 14px;
}

.nav__item {
    display: flex;
    align-items: center;
}

.nav__item img {
	cursor: ponter;
    height: 20px;
    margin-left: 15px;
}


/*TOP INFO*/

.top-info {
    display: flex;
    align-items: center;
    padding: 20px;
    background: #20252B;
    border-radius: 5px;
    border: 1px solid #262932;
    margin: 10px;
}

.top__info__btc {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.top__info__btc img {
    height: 30px;
    margin-right: 10px;
}

.top__info__btc p {
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.top__info__price {
    margin-right: 20px;
}

.top__info__price p {
    margin: 0;
    font-weight: bold;
    color: #00C076;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}


.top__info__details {
    display: flex;
}

.top__info__detail {
    margin-right: 20px;
    border-left: 1px solid #A7B1BC;
    padding: 0 40px 0 20px;
    display: flex;
    flex-direction: column;
}

.top__info__detail img {
    height: 20px;
    margin-right: 10px;
}

.top__info__text {
    display: flex;
    align-items: center;
}

.top__info__detail .top__info__title {
	font-size: 12px;
	color: #A7B1BC;
	line-height: 20px;
}

.top__info__detail .stable__price__active {
	color: #00C076;
	font-size: 14px;
	line-height: 24px;
	font-weight: 500
}

.top__info__detail .stable__price {
	color: #fff;
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
}

.top__info__detail p {
    margin: 0;
    color: #fff;
}


/*TRADING VIEW*/

.trading-view {
    padding: 20px;
}

.trading-view .trading__chart {
	height: 100vh;

	background: #20252B;
    border-radius: 5px;
    border: 1px solid #262932;
	padding: 10px;
}

.trading__order__book {
    background: #20252B;
    border-radius: 5px;
    border: 1px solid #262932;
	padding: 10px;
}

.trading__order__nav {
    display: flex;
    align-items: center;
    background: #12171D;
    padding: 2px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.order__book {
	background: #21262C;
	border-radius: 5px;
	padding: 0 20px;
	flex: 1;
	text-align: center;
}

.order__book p {
	font-size: 12px;
	font-weight: 500;
	text-align: center;
}

.recent__trades {
    border-radius: 5px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
    margin:0 auto;
}

.recent__trades p {
	font-size: 12px;
	font-weight: 500;
	text-align: center;
}

.trading__order__nav p {
	color:#fff;
	text-transform: capitalize;
}

.trading__order__nav > div {
    margin-right: 20px;
}

.trading__order__nav > div:last-child {
    margin-right: 0;
}




.trading__data {
    width: 100%;
    border-collapse: collapse;
    color: #fff;
    overflow: hidden;
}

.trading__data th,
.trading__data td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #333;
}

.trading__data td {
	font-size: 12px;
}

.trading__data th {
    background: #21262C;
    text-transform: capitalize;
}

.trading__data tbody tr:last-child td {
    border-bottom: none;
}

.sell__price {
	color: #FF6838;
}
.buy__price {	
	color: #25C26E;
}



.last__highlight td {
    background-color: rgba(255, 0, 0, 0.5); 
}

.trading__filter {
	display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.image__list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.image__list li {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.image__list li:hover  {
    background: #353945;
    border-radius: 5px;
    transition: 0.3s;
}

.image__list__active {
    background: #353945;
    border-radius: 5px;
}

.image__list li:last-child {
    margin-right: 0;
}

/*.number__selection {
    margin-left: 20px;
}*/

.number__selection select {
    padding: 5px;
    font-size: 14px; 
    background: #353945;
    border: 1px solid #353945;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.trading__data th {
	color: #A7B1BC;
	font-size: 12px;
	line-height: 16px;
}

.trading__data th span {
	text-transform: uppercase;
}

.trading__data td img {
    vertical-align: middle; /* Align the image vertically in the middle */
}

.arrow-cell {
    padding: 0; /* Remove padding around the image cell */
}

.data__break td {
	font-size: 16px;
	font-weight: 500;
}


/*TRADING BUY*/
.trading__buy {
	background: #20252B;
    border-radius: 5px;
    border: 1px solid #262932;
	padding: 10px;
}

.trading__action {
    display: inline-block;
    margin: 20px 0;
}

.trading__action ul {
    padding-left: 0;
    list-style: none
}

.trading__action li {
    display: inline;
    margin-right: 10px;
    color: #fff;
}

.trading__action li a {
	text-decoration: none;
	text-transform: capitalize;
    color: #fff;
}

.trading__action__active {
	background: #353945;
    border: 1px solid #353945;
    border-radius: 20px;
    padding: 5px 20px;
}